.DisplaySectionAdvert{
    margin-top: 40px;
    position: absolute;
    margin-left: 67%;  
    z-index: 1; 
    height: 14cm;
    width: 11.5cm;
}

.displaySection{
    /* margin-top: 20px; */
    height: 88vh;
    width: 12cm;
    background-color: silver;
    position: absolute;
    /* position: sticky; */
    right: 0;
    /* top: 70px; */
    overflow: auto;
}
.p0001{margin-left: 10px;
display: none;
}
.title{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p0001>p{
    font-size: 25px;
    /* margin-left: 20px; */
    margin-top: 0;
    padding: 0;  
}
.innerview{
    /* width: 11cm; */
    /* height: 2cm; */
    font-size: 1.5rem;
    position: relative;
    padding: 0;
    margin-top: -20px;
    /* margin-left: 10px; */
    /* border: 1px solid rgb(12, 10, 10) ; */
}
.sidebuttons{
    position: absolute;
    margin-top: -1.4cm;
    margin-left: 8cm;
    padding: 5px;
    font-size: 1rem;

}
.p0001>ul{
    margin-left: -40px;
    position: fixed;
    bottom: 0;
    display:none;
    /* box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); */
    
}
.p0001>ul>button{
    padding: 5px;
    font-size: 1rem;
    /* box-shadow:0px 15px 20px 10px  silver; */
}
.p0001>ul>button>a{
    text-decoration: none;
    color: black;
}
.PreviewSection>ul{
    margin-left: -45px ;
    font-size: 1.3rem;
}
#typesofthefont, .previewdownload{
    font-size: 1rem;
    padding: 8px;
}
/* :hover{border: 1px solid black;} */
.showtextdiv{
     width: 11cm;
     height: 10cm;
     overflow-y:auto;
     overflow-x: hidden;
     background-color: rgb(228, 168, 168);
     font-size: 1rem;
}
.Previewheading{
    padding: 10px;
    background-color: rgb(228, 168, 168);
    font-size: 1rem;
    font-family: poppins;
    display: inline-block;
}
.aboutsection>div>p{
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: lighter;
}

