@font-face {
    font-family: Montserrat;
    src: url(./fonts/FontsFree-Net-Canela-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: henrydidot;
    src: url(./fonts/HenriDidot.otf);
}
@font-face {
    font-family: anydore;
    src: url(./fonts/Anydore.otf);
}
@font-face {
    font-family: Baskervville;
    src: url(./fonts/Baskervville-Italic.ttf);
}
@font-face {
    font-family: Electra;
    src: url(./fonts/Electra\ LT\ Std\ Regular.otf);
}    
@font-face {
    font-family: Canela;
    src: url(./fonts/FontsFree-Net-Canela-Regular.ttf);
}
@font-face {
    font-family: Forum;
    src: url(./fonts/Forum-Regular.ttf);
} 
@font-face {
    font-family: Helvetica;
    src: url(./fonts/Helvetica-Bold.ttf);
}
@font-face {
    font-family: ILovEGlitter;
    src: url(./fonts/ILovEGlitter.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
} 
@font-face {
    font-family: OPTIMA;
    src: url(./fonts/OPTIMA.TTF);
}  
@font-face {
    font-family: Tangerine;
    src: url(./fonts/Tangerine-Bold.ttf);
}  
@font-face {
    font-family: Verah;
    src: url(./fonts/Verah___.ttf);
}    
