*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 200vh; */
}

header, footer{
    background: silver;
    z-index: 1;
    padding: 5rem;
    text-align: center;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
footer{
    bottom: 0;
}
main{
    display: flex;
    gap: 2rem;
    /* max-width: 80%; */
    margin: 12rem auto;
    flex-wrap: wrap;
}
/* Styling Hero */
.hero{
    max-width: 50rem;
    margin-bottom: 3rem;
}

.hero h1{
    font-size: 4rem;
    margin-bottom: .5rem;
}

.hero p{
    color: #555;
    opacity: 0.8;
    line-height: 1.5rem;
}
.hero button{
    background:#111;
    color: white;
    padding: .7rem 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

/* Styling Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr )) ;
    grid-gap: 2rem;
}

.grid div{
    background: #eee;
    height: 10rem;
    /* Centre the Text */
    display: flex;
    align-items: center;
    justify-content: center;
}


.article{
    /* background: #eee; */
    flex-grow: 999;
    flex-basis: 0;
}

.sticky{
    background: sienna;
    height: 25rem;
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 1rem;
    width: 10rem;
    /* Centre the text */
    display: flex;
    align-items: center;
    justify-content: center;
}